*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-backone: #333;
  --color-backtwo: #1a1a1a;
  --color-lightone: #ddd;
  --color-lighttwo: #c0c0c0;
  --color-lightthree: #808080;
  --color-error: #dc143c;
  --color-blenda: rgba(192, 192, 192, 0.3);
}

body {
  height: 100%;
  background-color: var(--color-backtwo);
  font-family: "Roboto Condensed", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  width: 90%;
  height: 100%;
}
.wrapper h1 {
  position: relative;
  color: var(--color-lightone);
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
}
.wrapper h1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.01em;
  background-color: var(--color-lightone);
  bottom: 0;
  left: 0;
}
.wrapper p {
  color: var(--color-lighttwo);
  text-align: center;
  margin-bottom: 0.5em;
}
.wrapper ul {
  color: var(--color-lightone);
  padding-bottom: 1em;
}
.wrapper li {
  padding-bottom: 0.4em;
}
.wrapper .error {
  color: var(--color-error);
  font-size: 1.2rem;
  margin: 0.5em 0;
  visibility: hidden;
}
.wrapper .action {
  visibility: visible;
}
.wrapper .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-backone);
  padding: 1em;
  border-radius: 8px;
  border: 1px solid var(--color-lightthree);
  -webkit-box-shadow: 3px 3px 5px var(--color-blenda);
          box-shadow: 3px 3px 5px var(--color-blenda);
}
.wrapper .box__heading {
  color: var(--color-lighttwo);
  text-align: center;
}
.wrapper .box__label {
  margin: 1em 0 0.3em;
  color: var(--color-lighttwo);
}
.wrapper .box__input {
  padding: 0.2em 1em;
  font-size: 1.2rem;
  color: black;
  border-radius: 5px;
}
.wrapper .box__input-results {
  padding: 0.4em 1em;
  font-size: 2rem;
  color: var(--color-error);
  width: 80%;
  background: none;
  border: none;
  border-bottom: 0.04em solid var(--color-lightthree);
}
.wrapper .box__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 0.8em;
}
.wrapper .box__btn-result {
  position: relative;
  padding: 0.6em 0.8em;
  text-transform: uppercase;
  background: none;
  border: 0.08em solid var(--color-lightone);
  border-radius: 5px;
  color: var(--color-lightone);
  overflow: hidden;
  cursor: pointer;
}
.wrapper .box__btn-result::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 130%;
  border-radius: 50em;
  -webkit-transform: translate(-120%, -30%);
          transform: translate(-120%, -30%);
  background-color: var(--color-blenda);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.wrapper .box__btn-result:hover::before {
  -webkit-transform: translate(-25%, -30%);
          transform: translate(-25%, -30%);
}
.wrapper .box__btn-clean {
  position: relative;
  padding: 0.6em 0.8em;
  text-transform: uppercase;
  background: none;
  border: 0.08em solid var(--color-lightone);
  border-radius: 5px;
  color: var(--color-lightone);
  overflow: hidden;
  cursor: pointer;
}
.wrapper .box__btn-clean::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 130%;
  border-radius: 50em;
  -webkit-transform: translate(-120%, -30%);
          transform: translate(-120%, -30%);
  background-color: var(--color-blenda);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.wrapper .box__btn-clean:hover::before {
  -webkit-transform: translate(-25%, -30%);
          transform: translate(-25%, -30%);
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }
  .wrapper h1 {
    font-size: 2.4rem;
  }
  .wrapper p {
    font-size: 1.6rem;
  }
  .wrapper li {
    font-size: 1.2rem;
  }
  .wrapper .error {
    margin: 0.2em 0;
    padding-bottom: 1em;
    font-size: 2rem;
  }
  .wrapper .box {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */