@media (min-width: 768px) {
	body {
		height: 100vh;
	}
	.wrapper {
		h1 {
			font-size: 2.4rem;
		}
		p {
			font-size: 1.6rem;
		}
		li {
			font-size: 1.2rem;
		}
		.error {
			margin: 0.2em 0;
			padding-bottom: 1em;
			font-size: 2rem;
		}
		.box {
			width: 50%;
		}
	}
}
